* {
    box-sizing: border-box;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

input[type="text"]:focus {
    outline: none;
}

input[type="button"] {
    cursor: pointer;
}

input[type="button"]:focus {
    border: none;
    outline: none;
}

button:focus {
    border: none;
    outline: none;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #f6f8fd;
}

.header {
    background-color: #3160b9;
    padding: 0 113px 0 113px;
}

.header-border {
    border-right: 4px solid #2f5eb4;
    border-left: 4px solid #2f5eb4;
    display: flex;
    justify-content: space-between;
    padding: 16px 12px 15px 10px;
}

.logo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
}

.logo:hover {
    transform: scale(1.05);
}

.company-name {
    color: #f6f8fd;
    font-size: 12px;
    letter-spacing: -0.8px;
}

.service-name {
    color: white;
    font-size: 13px;
    margin-top: 2px;
    letter-spacing: 0.7px;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.send {
    border: none;
    border-radius: 50%;
    background-color: #2654ad;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send:hover {
    background-color: #fff;
}

.send-icon {
    color: white;
    font-size: 16px;
}

.send:hover .send-icon {
    color: #2654ad;
}

.user {
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #2654ad;
    padding: 2px 17px 2px 2px;
    margin-left: 16px;
    text-decoration: none;
}

.user:hover {
    background-color: #fff;
}

.user-photo {
    border-radius: 50%;
    height: 27px;
    width: 27px;
}

.user-name {
    margin-left: 9px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: -0.3px;
}

.user:hover .user-name {
    color: #2654ad;
}

.power-off {
    border: none;
    border-radius: 50%;
    background-color: #2654ad;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 29px;
}

.power-off:hover {
    background-color: #fff;
}

.power-off-icon {
    color: white;
    font-size: 16px;
}

.power-off:hover .power-off-icon {
    color: #2654ad;
}

.main-block {
    padding: 24px 125px 30px 127px;
    display: flex;
    justify-content: space-between;
}

.search-basic {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding: 0 8px 17px 8px;
    border-bottom: 3px solid #5a91f6;
}

.search-form {
    margin-top: 18px;
    padding: 21px 24px 23px 21px;
    background-color: #fff;
    border: 1px solid #f0f3f8;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

.search-field {
    font-size: 13px;
    width: 300px;
    height: 32px;
    border: 1px solid #f0f3f8;
    border-radius: 2px;
    background-image: url(../img/search-solid.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    color: grey;
    padding-left: 37px;
}

.search-field::-moz-placeholder {
    color: #d1d6da;
}

.search-field::-webkit-input-placeholder {
    color: #d1d6da;
}

.search-button {
    width: 300px;
    height: 32px;
    background-color: #6196f7;
    color: white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    margin-top: 12px;
}

.search-button:hover {
    background-color: white;
    color: #6196f7;
    border: 2px solid #6196f7;
}

.search-button:focus {
    background-color: #6196f7;
    color: white;
}

.main-block-info {
    width: 66.6%;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.result-stats {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
}

.views {
    display: flex;
    margin-top: -6px;
}

.table-view,
.grid-view {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-view-icon,
.grid-view-icon {
    font-size: 19px;
    color: #d8dde2;
}

.table-view:hover .table-view-icon,
.grid-view:hover .grid-view-icon {
    color: #aabfe3;
}

.view-active {
    color: #aabfe3;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 15px 33px 17px 28px;
    text-decoration: none;
    background-color: white;
    margin: 17px 0 0 12px;
    width: 31.6%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 grey;
    transition: transform 0.5s ease-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: block;
}

.card-name {
    width: 100%;
    text-align: center;
    display: block;
    color: black;
    font-weight: bold;
    margin-top: 16px;
}

.card-name-native {
    display: block;
    color: grey;
    margin-top: 4px;
    font-size: 14px;
}

.card-additional-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card-additional-info:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #f2f5f5;
    margin-bottom: 18px;
    margin-top: 29px;
}

.department,
.room {
    display: flex;
    align-items: center;
}

.department-icon{
    font-size: 14px;
    color: #83adf8;
}
.room-icon {
    font-size: 13px;
    color: #83adf8;
}

.department-name,
.room-number {
    font-size: 14px;
    margin-left: 4px;
    color: #000;
}

/**Вторая часть**/

.categories {
    background-color: #fff;
    display: flex;
    margin: 17px 0 3px 12px;
    padding: 10px 23px 12px 10px;
    border-radius: 5px;
    border: 1px solid #f0f3f8;
    width: 98.4%;
}

.category {
    display: flex;
    align-items: center;
}

.category-photo {
    width: 10%;
}

.photo-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #83adf8;
    display: inline-block;
}

.category-name {
    width: 29.5%;
}

.name-icon {
    color: #83adf8;
    font-size: 13px;
}

.category-department {
    width: 27.5%;
}

.category-title {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 5px;
}

.card-table {
    width: 98.4%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #f0f3f8;
    margin: 0 0 1px 12px;
    padding: 9px 23px 11px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.card-table:hover {
    transform: scale(1.01);
}

.card-names {
    margin: 0 0 0 19px;
    width: 29.4%;
}

.card-table .card-img {
    width: 50px;
    height: 50px;
}

.card-table .card-name {
    margin: 0;
    text-align: left;
}

.card-table .department-name {
    width: 27%;
}

.no-search-result {
    display: block;
    margin: 14px 0 0 10px;
    font-size: 20px;
}

/**Третья часть**/
.page-block{
    display: flex;
    width: 100%;
}

.brief-info{
    background-color:#ffffff;
    border: 1px solid#f1f4fa;
    border-radius: 5px;
    padding: 23px 80px 23px 23px;
    display: flex;
}

.come-back{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #f6f8fd;
}

.come-back-icon{
    color: #c4c9d1; 
}

.brief-info-wrp{
    margin: 0 0 0 25px;
}

.brief-info-wrp .card-img{
    width: 185px;
    height: 185px;
}

.brief-info-wrp .card-name{
    margin-top: 43px;
    font-size: 18px;
}

.brief-info-wrp .card-name-native{
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.detailed-info{
    background-color:#ffffff;
    border: 1px solid#f1f4fa;
    border-radius: 5px;
    padding: 22px 28px 22px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detailed-info-wrp{
    width: 100%;
}

.detailed-info-block{
    display: flex;
    flex-wrap: wrap;
}

.detailed-info-title{
    width: 100%;
    color:#a1a9b3;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    margin: 7px 0 0 0;
}

.detailed-info-title:after{
    content: '';
    display: block;
    width: 91%;
    height: 2px;
    background-color: #f4f6f9;
    margin: 6px 0 16px 0;
}

.detailed-info-block .category{
    margin: 0 0 21px 0;
    width: 48%;
}

.detailed-info-block .icon{
    width: 23px;
    display: flex;
    justify-content: center;
}

.detailed-info-block .category-title{
    color: #b6bec4;
}

.mobile-icon,
.email-icon,
.skype-icon,
.hire-date-icon,
.status-icon{
    font-size: 13px;
    color: #83adf8;
}

.category-value{
    color: #81858d;
    font-size: 13px;
}

.btn-edit-details{
    width: 130px;
    height: 40px;
    background-color: #f6f8fd;
    font-size: 13px;
    color: #6a93d3;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
}
